public-hoist-pattern[]=*express*
public-hoist-pattern[]=*helmet*
public-hoist-pattern[]=*reflect-metadata*
public-hoist-pattern[]=*body-parser*
public-hoist-pattern[]=*compression*
public-hoist-pattern[]=*cookie-parser*
public-hoist-pattern[]=*multer*
public-hoist-pattern[]=class-validator
public-hoist-pattern[]=class-transformer
auto-install-peers=true